<div class="col-xs-2">
  <% if !@user_name.nil? %>
    <h3><%= @user_name %></h3>
    <%= link_to "Sign Out", :sign_out, class:"btn btn-primary center-block", :method => :delete %>
    <%= link_to "New Skeleton", :new_post, remote: true, class:"btn btn-primary center-block" %>
  <% else %>
    <%= link_to "Sign In", :new_session, remote: true, class:"btn btn-primary center-block" %>
  <% end %>
</div>
<div>
</div>
