<div class="row">
  <div class="page-header col-xs-8 col-xs-offset-2">
    <h1>Skeleton</h1>
  </div>
</div>
<div class="row">
  <%= simple_form_for :post, url: :posts, remote: true  do |f| %>
    <div class= "col-xs-8 col-xs-offset-2">
      <%= f.input :content, as: :text, label:false, placeholder: "Content"%>
      <%= f.hidden_field :user_id, value: session[:id] %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>
