

  <%@posts.each do |post| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <div class="caption">
          <p><%= post["content"] %></br><p><span id="post-username">-<%= post["user"]["user_name"] %></span></p></li></p>
        </div>
      </div>
    </div>
  <% end %>
