<div class="jumbotron">
  <div class="container">
    <div id="top">
      <h1>SKELETONS</h1>
      <h4>Let your skeletons out to dance</h4>
    </div>
  </div>
</div>
<div class="container">
  <div id="nav-wrapper">
    <div class="row"  data-spy="affix" data-offset-top="400" id="nav" id="user-links">
      <%= render partial: 'links' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" id="post-row">
    <div id="posts">
      <%= render partial: 'posts' %>
    </div>
  </div>
</div>

<div class="modal fade" id="index-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
    </div>
  </div>
</div>
