$off-white: #FFFFED;
$off-black: #252525;

html
{
    overflow-x: hidden;
}

.nav-btn {
  border-radius: 0em;
  color: $off-white !important;
  border: 1px solid $off-white !important;
  background-color: $off-black !important;
  font-family: "Hallo Sans", 'Roboto Condensed', sans-serif;

  &:hover {
    color: $off-black !important;
    background-color: $off-white !important;
    border: 1px solid $off-white !important;
  }
}
.navbar-default {
  background-color: $off-black;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $off-black;
  margin-bottom: 4em;
  margin-top: 0em;
  font-family: "Hallo Sans", 'Roboto Condensed', sans-serif;
  padding-left: 1.1em;
  padding-right: 1.1em;
  width: 100%;
  .navbar-toggle{
    border-color:$off-white;
    &:hover {
      background-color:$off-white
    }
  }
  #user-name {
    color: $off-white;
    font-size: 2em;
    padding-top: .2em;
  }
  .navbar-brand {
    padding-top: 0em;
    padding-bottom: 0em;
    padding-left: 0em;
  }
}

.nav-div.affix {
    top: 0;
    min-width: 85.6%;
    z-index: 100;
}

#nav-wrapper {
  min-height: 100px;
}

#user-links {
  text-align: center;
}

body {
  background-color: $off-black;
}

.thumbnail {
  height: 11em;
  background-color: $off-white;
  font-family: Palatino, Garamond, Georgia, serif;
  font-size: 1.4em;
}

.jumbotron {
  background-color: $off-white;
  font-family: "Hallo Sans", 'Roboto Condensed', sans-serif;
  margin-bottom: 3.8em;
  .container {
    padding-left: 1.1em;
    h1 {
      font-size: 6em;
      margin-bottom: 0em;
      color: #FF5858;
    }
    h4 {
      margin-left: 2.3em;
      margin-top: 0em;
      font-size: 1.5em;
      font-family: Palatino, Garamond, Georgia, serif;
    }
  }
}

#post-username {
  font-style: italic;
}
.modal-content {
  background-color: $off-white;
  border-radius: 0;
  font-family: Palatino, Garamond, Georgia, serif;
  .modal-header {
    border-bottom: none;
    font-family: "Hallo Sans", 'Roboto Condensed', sans-serif;
  }
}

.modal-btn {
  border-radius: 0em;
  color: $off-black !important;
  background-color: $off-white !important;
  border: 1px solid $off-black !important;
  font-family: "Hallo Sans", 'Roboto Condensed', sans-serif;
  margin-bottom: 10px;
  &:hover {
    color: $off-white !important;
    background-color: $off-black !important;
    border: 1px solid $off-black !important;
  }
}


@media (max-width: 768px) {

  .jumbotron {
    height: 17.2em;
    .container {
      h1 {
        font-size: 5.6em;
      }
    }
  }

  .navbar-default {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    .navbar-toggle {
      margin-right: 0em;
    }
  }
  #post-row {
    margin-left: 0em;
    margin-right: 0em;
  }

  .nav-div.affix {
      min-width: 100%;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {

      .jumbotron {
        .container {
          h1 {
            font-size: 5em;
          }
          h4 {
            font-size: 1.3em;
          }
        }
      }
  }

}

@media screen and (max-width: 330px) {
  .jumbotron {
    .container {
      h1 {
        font-size: 4.7em;
      }
      h4 {
        font-size: 1.2em;
      }
    }
  }
}
